*,
*::before,
*::after {
	margin: 0px;
	padding: 0px;

	box-sizing: border-box;
}
body {
	display: flex;
	flex-flow: column nowrap;
	gap: 40px;
}
header {
	background-color: #1F2937;
	color: #F9FAF8;

	font-weight: 700;
	font-size: 21px;

	padding: 50px 200px;
	gap: 100px;

	display: flex;
	flex: 1 1 auto;
	justify-content: center;
	flex-flow: column wrap;
}
main {
	display: flex;
	flex-flow: column nowrap;
	gap: 40px;
	justify-content: center;
	align-items: center;
}
.bt-list img {
	border-radius: 8px;
	height: 30px;
	width: auto;
}
.bt-list button {
	border-radius: 20px;
}
.container {
	width: 700px;
	height: 700px;

	display: flex;
	flex-flow: column nowrap;
	flex: none;
}
.row {	
	width: inherit;
	display: flex;
	flex-flow: row nowrap;
	flex: 1 1 auto;

	align-items: stretch;
	align-content: stretch;
}
.col {
	border: solid 1px lightgrey;

	height: inherit;

	display: flex;
 	flex: 1 1 auto;
}
.hover-over {
	background-color: black;
}
