* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;
}
body {
	display: flex;
	justify-content: center;
}
.container {
	display: flex;
	flex-flow: column nowrap;
}
.row {	
	display: flex;
	flex-flow: row nowrap;
}
.col {
	border: solid 1px lightgrey;

	width: 30px;
	height: 30px;

	display: flex;
	flex: 1;
}
.hover-over {
	background-color: black;
}
